table, th, td {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-collapse: collapse;
}

td{
   height: 15px;
}

th{
    background-color: blue;
    color: white;
}

.resultado{
    background-color: rgb(165, 165, 165);
}

td.titulo{
    background-color:  blue;
}

#form_inserir_aluno{
    border: solid 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}