table, th, td {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-collapse: collapse;
}

td{
   height: 15px;
}

th{
    background-color: blue;
    color: white;
}

.resultado{
    background-color: rgb(165, 165, 165);
}

td.titulo{
    background-color:  blue;
}



.form{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 3px blue;
    border-radius: 10%;
    padding: 10px;
    width: fit-content;
    background-color: aquamarine;
}

input{
    margin: 5px;
}

.centralizar{
    position: absolute;
    left: 50%;
    top: auto;
    transform: translate(-50%);
}

.centralizar_inserir{
    display: grid;
    place-items: center;
}
